body {
    background-image: url("../images/background.jpg");
    height:95%;
}

html{
    height:100%;
}
.imageSpace{
    max-height:200px;
}

.userResult{
    font-size:50px;
    font-weight: bolder;
}

.answerSpace{
    font-size:30px;

    font-weight: bold;
}

.container{
    background-color: #a67c00;
    margin-top:15px;
    margin-bottom:15px;
}

.title{
    width:100%;
}

.gameSpace{
    width:100%;
    text-align: center;
}

.gameSpace p{
    font-size:30px;
}

.possibleAnswer{
    background-color:#fff484;
    height: 50px;
    width: 40%;
    border: 2px solid red;
    font-size: 30px;
    padding-top:3px;
    font-weight: bold;
    margin:15px;
}

.resetButton {
    background-color:#fff484;
    height: 50px;
    width: 40%;
    border: 2px solid red;
    font-size: 30px;
    padding-top:3px;
    font-weight: bold;
    margin:auto;
  
}

.resetButton:hover{
    transform: scale(1.1);
    border: 2px solid blue;
}



.possibleAnswerBox:hover > .possibleAnswer:not(:hover){
    opacity:0.5;
}

.possibleAnswer:hover{
    transform: scale(1.1);
    border: 2px solid blue;
}



.startButton{
    background-color:#fff484;
    height: 50px;
    width: 50%;
    border: 2px solid red;
    font-size: 30px;
    padding-top:3px;
    font-weight: bold;
    margin-top:250px;
}

.startButton:hover{
    transform: scale(1.1);
    border: 2px solid blue;
}


.timer{
    font-weight: bold;
    font-size:30px;
}
.question{
    font-weight: bold;
    font-size:30px;
}

html body .container{
    height:100%;
}